name: Generate GitHub Contribution Snake

on:
  schedule:
    - cron: '0 1 * * *'
  workflow_dispatch:

jobs:
  generate-snake:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Generate Snake
        uses: ashutosh00710/github-contribution-grid-snake@v1.2
        with:
          username: jikssha
          output: output/github-contribution-grid-snake.svg

      - name: Commit Snake SVG
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          mkdir -p output
          git add output/github-contribution-grid-snake.svg
          git commit -m "Update GitHub Contribution Snake" || echo "No changes to commit"
          git push
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
