name: Generate Dynamic GitHub Contribution Snake

on:
  schedule:
    - cron: "0 1 * * *"
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  generate-snake:
    runs-on: ubuntu-latest
    timeout-minutes: 15

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Generate dynamic snake GIF
        uses: Platane/snk@v3
        with:
          github_user_name: jikssha
          gif_out_path: dist/github-contribution-grid-snake.gif

      - name: Commit and push snake GIF
        uses: crazy-max/ghaction-github-pages@v3.1.0
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
